User Requirement
ทีม DEV : รัชพล ทองอินทร์ 67050476
ทีม PROD : รัตนฉัตร แสงภักดี 67050484 Role : นักศึกษา
1. นักศึกษาต้องสามารถตรวจสอบและทราบสถานะการสำเร็จการศึกษาของตน
2. นักศึกษาต้องสามารถได้รับคำแนะนำรายวิชาที่เหมาะสมสำหรับการลงทะเบียนเรียนในภาคการศึกษาถัดไป
3. นักศึกษาต้องสามารถทราบความก้าวหน้าในการเรียนของตนแยกตามหมวดหมู่วิชา 
4. นักศึกษาต้องสามารถทราบผลกระทบก่อนตัดสินใจถอนรายวิชา 
5. นักศึกษาต้องสามารถเห็นภาพรวมแผนการศึกษาล่วงหน้า 

ทีม DEV : ศรัญญา พงษ์ประพันธ์ 67050526
ทีม PROD : วณัฐพงศ์ คำชู 67050497 Role : นักศึกษา 
1.นักศึกษาต้องสามารถทราบสัดส่วนความคืบหน้าของการสะสมหน่วยกิตทั้งหมดในรูปแบบร้อยละ 
2.นักศึกษาต้องสามารถทราบสัดส่วนความคืบหน้าของหน่วยกิตในแต่ละหมวดหมู่ของหลักสูตร  
3.นักศึกษาต้องสามารถทราบจำนวนหน่วยกิตที่สอบผ่านแล้วเทียบกับจำนวนหน่วยกิตที่หลักสูตรกำหนดในแต่ละหมวดหมู่  
4.นักศึกษาต้องสามารถดูรายละเอียดรายวิชาที่ถูกนำมาคำนวณในแต่ละหมวดหมู่ 
5.นักศึกษาต้องสามารถจำลองสถานะความก้าวหน้าโดยนับรวมรายวิชาที่กำลังศึกษาอยู่ 

ทีม DEV : ภูดาเนตร ศิลาอาจ 67051067
ทีม PROD : ณัฐธีราญา ชาญวรกิจไพศาล 67050820 Role : นักศึกษา 
1. นักศึกษาต้องสามารถอัปโหลดไฟล์ Transcript ฉบับใหม่ได้
2. นักศึกษาต้องสามารถส่งออกผลการตรวจสอบความก้าวหน้าทางการศึกษาเป็นไฟล์ PDF 
3. นักศึกษาต้องสามารถตรวจสอบเงื่อนไขรายวิชาบังคับก่อนของรายวิชาที่วางแผนจะลงทะเบียน 
4. นักศึกษาต้องสามารถแก้ไขข้อมูลผลการเรียนที่ระบบดึงหรือแปลงจากไฟล์ Transcript ผิดพลาด 
5. นักศึกษาต้องสามารถตรวจสอบและยืนยันความถูกต้องของข้อมูลที่ระบบดึงจากไฟล์ Transcript ก่อนนำไปใช้ประมวลผล 


ทีม DEV : อชิรายุ สิมลี 67050613
ทีม PROD : ศักดิ์สกุล เจียรพงษ์ 67050534 Role : นักศึกษา 
1. นักศึกษาต้องสามารถค้นหาและกรองรายวิชาตามประเภทวิชาได้
2. นักศึกษาต้องสามารถดูรายชื่อรายวิชาประเภทวิชาภาคพร้อมรายละเอียดรหัสวิชาและจำนวนหน่วยกิต 
3. นักศึกษาต้องสามารถดูรายชื่อรายวิชาเสรีที่เปิดสอนในภาคการศึกษานั้น 
4. นักศึกษาต้องสามารถจัดเรียงข้อมูลรายวิชาตามรหัสวิชาหรือประเภทวิชา 
5. นักศึกษาต้องสามารถตรวจสอบเงื่อนไขรายวิชาบังคับก่อนของแต่ละรายวิชา 

ทีม DEV : พชรพล ประเสริฐศักดิ์ 67050992
ทีม PROD : อนพัทย์ ด่านจิระมนตรี 67050618 Role : อาจารย์ที่ปรึกษา 
1. อาจารย์ที่ปรึกษาต้องสามารถทราบจำนวนหน่วยกิตสะสมของนักศึกษาในความดูแล พร้อมเปรียบเทียบกับจำนวนหน่วยกิตที่หลักสูตรกำหนด 
2. อาจารย์ที่ปรึกษาต้องสามารถดูรายวิชาที่นักศึกษาเรียนผ่านมาแล้วโดยแยกตามหมวดหมู่ของหลักสูตร 
3. อาจารย์ที่ปรึกษาต้องสามารถค้นหานักศึกษาในความดูแลด้วยรหัสนักศึกษา และดูรายงานสรุปหน่วยกิตสะสมและหน่วยกิตคงเหลือ 
4. อาจารย์ที่ปรึกษาต้องสามารถทราบรายวิชาหรือหมวดหมู่วิชาที่ยังเรียนไม่ครบของนักศึกษา 
5. อาจารย์ที่ปรึกษาต้องสามารถทราบรายชื่อนักศึกษาที่มีหน่วยกิตครบตามเงื่อนไขของหลักสูตร 

ทีม DEV : กอบกานต์ ธีระรังสิกุล 67050676
ทีม PROD : อธิวัฒน์ ทัพรอด 67050617 Role : อาจารย์ที่ปรึกษา
1. อาจารย์ที่ปรึกษาต้องสามารถทราบวันที่และเวลาที่นักศึกษาในความดูแลอัปโหลดไฟล์ Transcript ครั้งล่าสุด 
2. อาจารย์ที่ปรึกษาต้องสามารถดูรายชื่อนักศึกษาในความดูแลทั้งหมดพร้อมสถานะการอัปโหลด Transcript 
3. อาจารย์ที่ปรึกษาต้องสามารถทราบรายวิชาที่นักศึกษาสอบไม่ผ่านหรือถอนรายวิชา 
4. อาจารย์ที่ปรึกษาต้องสามารถบันทึกและส่งคำแนะนำด้านการวางแผนการเรียนให้นักศึกษาแต่ละคน 
5. อาจารย์ที่ปรึกษาต้องสามารถดูรายงานสรุปภาพรวมของนักศึกษาในความดูแล


